.fixw{
    width: 100%;
    display: flex;
flex-direction: column;
align-items: center !important;
}
* a{
text-decoration: none !important;
color: #000 !important;
/* display: flex; */
/* flex-direction: column;
align-items: center; */
}
.imagess img {
    object-fit: contain !important;
    margin:0px 30px;
    /* height: 30px;
    width: 30px; */
}

.main {
    
    background-color: #FAFAFA;;
    height: 60px;
    border-radius: 45px;
    width: 82%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.my{
    width: 100%;
    display: flex;
    justify-content: center !important;
}
.nav-item a{
    color: #000;
    font-weight: 500;
}

.middle{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
width: 55%;
    height: 50px;
    background-color:  #FEFEFF;
    border-radius: 20px;
}
.middle ul li{
    padding: 10px;
}

.sec-3{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.sec-3 a{
padding: 15px ;
    text-decoration: none;
    color: #000;
}
.box3{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.box3 a{
    text-decoration: none;
    color: #000;
}
.row6{
    width: 100%;
    display: flex;
    justify-content: center;
}
.row7{
    display: flex;
    justify-content: center;
gap: 10px;
margin: 10px 0px;
}
.sec-1{
    width: 1280px;
    border-radius: 10px;
    display: flex;
    justify-content: center ;
    background: linear-gradient(to right,#C1DEE8,#FBD9B9);
height: 500px;

}
.h55{
    margin: 120px 0px 20px 50px;
}
.h22{
    margin: 12px 0px 20px 50px;
}
.h55 h5{
    font-size: 18px;
    font-weight: 400;
}
.h22 h1{
    font-size: 58px;
    font-weight: 700;
}
.h221{
    margin: 25% 0px 20px 50px;
}

.h221 h1{
    font-size: 38px;
    font-weight: 500;
}
.para1 p{
    text-align: justify;
}
.para1{
    margin: 12px 0px 20px 50px;
 
}

.para{
    margin: 12px 0px 20px 50px;
 
}
.email{
    margin: 12px 0px 20px 48px;
  
}
.email a{
    /* position: absolute;
    left: 425px;
bottom: 125px;    */
 border-radius: 30px;
    text-decoration: none;
    color: #fff  !important;
    
    border: none;
    font-weight: 600;
}
.email input{
    position: relative;
    border-radius: 22px;
    width: 75%;
    display: flex;
    justify-content: end;
    height: 50px;
    border: none;
    outline: none;
}

.nony1 img{
    width: 100%;
    height: 550px;
}
.email input::placeholder{
    position: relative;
left: 20px;
}

.row2{
    display: flex !important;
    justify-content: center !important;
    margin: 60px 0px 0px 0px;
    /* background-color: #C1DEE8; */
}
.row3{
    width: 100%;
    display: flex !important;
    justify-content: center !important;
    /* background-color: #C1DEE8; */
}
.row3 h3{
    font-weight: 700;
}

.row6 h5{
font-size: 18px;
font-weight: 700;
margin: 10px 0px;
}
.row2 h6{
    font-size: 14px;
}
.arow{
    margin: 0px 40px;
}
.buttons{
    margin: 40px 0px;
}
.buttons a{
    margin: 10px 5px 0px 0px;
border: 1px solid gray;
padding: 10px 20px;
border-radius: 30px;
}
.b-1{
    background-color: #000;
    color: #fff !important;
    border: none !important;
}
.followers{
    margin: 80px 0px ;
    display: flex;
    gap: 70px;
}
.followers h2{
font-weight: 700;
font-family: Arial, Helvetica, sans-serif;
font-size: 40px;
}
.followers p{
    font-weight: 600;
}
@media only screen and (max-width:996px){
    .followers{
        margin: 30px 0px ;
        display: flex;
    justify-content: center;
        gap: 30px;
    }
    .followers h2{
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        font-size:45px;
        }
        
        .h221{
            margin:20px 0px 0px 15px;
        }
        
        .h221 h1{
            font-size: 38px;
            font-weight: 500;
        }
        
    .row8{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .row2{
        display: flex;

        justify-content: center !important;
    }
    .row3{
        width: 80%;

    }
    .arow{
        margin: 0px 0px 0px -20px;

    }
    .arow a{
        display: inline;
    }
    * a{
        text-decoration: none !important;
        color: #000 !important;
        display: flex;
         flex-direction: column;
        align-items: center;
        }
        
    .h55{
        margin: 20px 0px;
    }
    .h22{
        margin: 0px;
    }
    
    .para{
        margin: 0px;
     width: 80%;
    }
    .para1{
        margin: 0px;
     width: 90%;
    }

    .para p{
        font-size: 18px !important;
    }
    .email{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }
    .middle{
display: flex;
flex-direction: column;
justify-content: flex-start;
    }
    .row3 h3{
        font-weight: 700;
        font-size: 18px;
    }
    .h55{
        margin: 20px 50px;
    }
    .nony1 img{
        height: 350px;
    }
    .row6 p{
        font-size: 15px;
        text-align:justify;
    }
    .nony{
display: flex;
flex-direction: column;
align-items: center;
    }
    .bbb{
        display: flex;
        flex-direction: column;
           
    }

    .sec-1{
        height: 900px;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
justify-content: center;
    }
    .box3{
        display: none;
    }
    .h22 h1{
        font-size: 25px;
    }

    .email input{
        width: 100% !important;
        border-top-right-radius:30px !important ;
        border-bottom-right-radius:30px !important ;

    }
    .email a{
        width: 100%;
                position: relative;
                top: 20px;
                left: 4px;
                margin: 10px;
                display: flex;
                padding: 10px;
                justify-content: center;
            }
            .email{
                width: 100% !important;
            }
        
}

@media only screen and (max-width:355px){
    * a{
        text-decoration: none !important;
        color: #000 !important;
        display: flex;
         flex-direction: column;
        align-items: center;
        }

    .nony{
        display: flex;
        flex-direction: column;
        align-items: center;
            }
        

    .h55{
        margin: 20px 0px;
    }
    .h22{
        margin: 0px;
    }
    
    .para{
        margin: 0px;
     
    }
    .para p{
        font-size: medium;
    }
    .email{
        margin:0px;
      
    }


    .sec-1 h1{
        font-size: 30px;
    }
        .h22 h1{
        font-size: 25px;
    }

    .email{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .email input{
        /* padding: 20px;
        margin-top: 10px; */
        border-top-right-radius: 40px !important;
        border-bottom-right-radius: 40px !important;
        width: 100%;
        margin: 10px;
    }

    .email a{
width: 100%;
        position: relative;
        top: 20px;
        left: 4px;
        margin: 10px;
        display: flex;
        padding: 10px;
        justify-content: center;
    }
}

@media only screen and (min-width:997px){
    .email input{
        width: 60%;
    }
    /* .middle{
        display: none !important;
    }
    .box3{
        display: none;
    } */
}